---
const currentYear = new Date().getFullYear();
---

<footer class="site-footer bg-gray-100">
  <div class="container-fluid fl-py-5/10">
    <div class="text-sm">
      Copyright &copy; {currentYear}
    </div>
  </div>
</footer>
