---

---

<nav class="primary-nav" id="primary-nav" aria-label="Primary">
  <ul class="flex flex-wrap space-x-5">
    <li>
      <a href="/" class="text-base">Home</a>
    </li>
    <li>
      <a href="/articles" class="text-base">Articles</a>
    </li>
  </ul>
</nav>
